@model ConsultorioWeb.Models.Turno

@{
    ViewBag.Title = "Detalles del Turno";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del Turno</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha y Hora
        </dt>
        <dd>
            @Model.FechaYHora.ToString("dd/MM/yyyy HH:mm")
        </dd>

        <dt>
            Paciente
        </dt>
        <dd>
            @Model.Paciente.Apellidos , @Model.Paciente.Nombres
        </dd>

        <dt>
            Médico
        </dt>
        <dd>
            @Model.Medico.PersonalInterno.First().Apellido , @Model.Medico.PersonalInterno.First().Nombre
        </dd>

        <dt>
            Matricula
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Medico.MatriculaMedico)
        </dd>

        <dt>
            Especialidad
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Especialidad.Nombre)
        </dd>

        <dt>
            Forma de Pago
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormaDePago.Nombre)
        </dd>

        <dt>
            Precio
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrecioTurno)
        </dd>

        <dt>
            Seguro Médico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegurosMedico.Nombre)
        </dd>

        <dt>
            Diagnóstico
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Diagnostico)
        </dd>

        <dt>
            Descripción
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Servicio Extra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ServicioExtra.Nombre)
        </dd>

        <dt>
            Descripción del Servicio Extra
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionServicioExtra)
        </dd>

        <dt>
            Asistió?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Asistio)
        </dd>

        <dt>
            Atendido?
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Atendido)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Volver al Listado", "Index")
</p>