@model ConsultorioWeb.Models.InfoConsultorio

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de que deseas eliminar el registro?</h3>
<div>
    <h4>InfoConsultorio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreConsultorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreConsultorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dirección)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dirección)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiasyHorariosAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiasyHorariosAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
