@model IEnumerable<ConsultorioWeb.Models.InfoConsultorio>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreConsultorio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dirección)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiasyHorariosAtencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Web)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreConsultorio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dirección)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiasyHorariosAtencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Web)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
