@model IEnumerable<ConsultorioWeb.Models.Ciudad>

@{
    ViewBag.Title = "Listado de Ciudades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Ciudades</h2>

<p>
    @Html.ActionLink("Crear Nueva Ciudad", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartamentoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepartamentoId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostal)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CiudadId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.CiudadId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CiudadId })
        </td>
    </tr>
}

</table>
