@model IEnumerable<DepositoDeAlimentos.Models.Lote>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FechaEntrada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaRetiro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadAlmacenada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Presentado.IdPresentado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEntrada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaRetiro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadAlmacenada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Presentado.IdPresentado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdLote }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdLote }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdLote })
        </td>
    </tr>
}

</table>
