@model IEnumerable<ConsultorioWeb.Models.FormaDePago>

@{
    ViewBag.Title = "Listado de Formas de Pago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Formas de Pago</h2>

<p>
    @Html.ActionLink("Crear Nueva Forma de Pago", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdFormaDePago }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdFormaDePago }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdFormaDePago })
        </td>
    </tr>
}

</table>
