@model ConsultorioWeb.Models.Factura

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de que deseas eliminar el registro?</h3>
<div>
    <h4>Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdTurno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdTurno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaDePago.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaDePago.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tarjetas.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarjetas.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
