@model IEnumerable<ConsultorioWeb.Models.Factura>

@{
    ViewBag.Title = "Listado de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Facturas</h2>

<p>
    @Html.ActionLink("Crear Nueva Factura", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdTurno)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FormaDePago.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tarjetas.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdTurno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FormaDePago.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tarjetas.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdFactura }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdFactura }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdFactura })
        </td>
    </tr>
}

</table>
