@model IEnumerable<ConsultorioWeb.Models.SegurosMedico>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BajaLogica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BajaLogica)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdSeguroMedico }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdSeguroMedico }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdSeguroMedico })
        </td>
    </tr>
}

</table>
