@model ConsultorioWeb.Models.Paciente

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Estas seguro de que deseas eliminar el registro?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDocumento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimeraAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeraAtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdSeguroMedico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdSeguroMedico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GrupoSanguineo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GrupoSanguineo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Donante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transplantado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transplantado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormaDePago.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormaDePago.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Volver al Listado", "Index")
        </div>
    }
</div>
