@model IEnumerable<ConsultorioWeb.Models.Pais>

@{
    ViewBag.Title = "Listado de Paises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Listado de Paises</h2>

<p>
    @Html.ActionLink("Crear Nuevo Pais", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProvinciaId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProvinciaId)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.PaisId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.PaisId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.PaisId })
        </td>
    </tr>
}

</table>
