<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Consultorios Médicos Sagrada Familia</title>
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div style="background-color:cornflowerblue" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img src="~/Content/favicon.ico" width="60" height="60" alt="sagrada-familia" title="sagrada-familia">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Consultorios Médicos Sagrada Familia", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @Style = "color: black" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", null, new { @Style = "color: black" })</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home", null, new { @Style = "color: black" })</li>
                    @if (Request.IsAuthenticated)
                    {
                        string userRoles = "";
                        var currentUserRoles = System.Web.HttpContext.Current.Session["CurrentUserRoles"];
                        if (currentUserRoles != null)
                        {
                            userRoles = System.Web.HttpContext.Current.Session["CurrentUserRoles"].ToString();
                        }
                        <li>@Html.ActionLink("Turnos", "Index", "Turnos", null, new { @Style = "color: black" })</li>
                        if (userRoles == "Admin" || userRoles == "Usuario")
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Secretario
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li> @Html.ActionLink("Pacientes", "Index", "Pacientes", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Especialidades Médico", "Index", "Especialidades", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Seguros Medicos", "Index", "SegurosMedicos", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Formas de Pago", "Index", "FormasDePago", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Bancos", "Index", "Bancos", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Tarjetas", "Index", "Tarjetas", null, new { @Style = "color: black" })</li>
                                    <li> @Html.ActionLink("Servicios Extras", "Index", "ServiciosExtras", null, new { @Style = "color: black" })</li>
                                </ul>
                            </li>
                            if (userRoles == "Admin")
                            {
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                        Administrador
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li> @Html.ActionLink("Personales Internos", "Index", "PersonalesInternos", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Facturas", "Index", "Facturas", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Historias Clinicas", "Index", "HistoriasClinicas", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Paises", "Index", "Paises", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Provincias", "Index", "Provincias", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Departamentos", "Index", "Departamentos", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Ciudades", "Index", "Ciudades", null, new { @Style = "color: black" })</li>
                                        <li> @Html.ActionLink("Información del Consultorio", "Index", "InfoConsultorio", null, new { @Style = "color: black" })</li>
                                    </ul>
                                </li>
                            }
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:50px">
        @RenderBody()
        <br />
        <br />
        <hr />
        <footer style="border:dotted;margin:10px; padding:10px">
            <p>&copy; @DateTime.Now.Year - Consultorios Médicos Sagrada Familia - Resistencia, Chaco, Argentina - Tel: +54 9 362 461-034</p>
            <p>
                Descarga nuestra aplicacion móvil para Android
                <a href="https://drive.google.com/open?id=1_PHSoO8saoEou4KyYI91ZMPaoPTYLuyQ" target="_blank">
                    <img src="~/Content/android.jpg" alt="Android app" width="42" height="42" border="0">
                </a>
            </p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>