@model IEnumerable<DepositoDeAlimentos.Models.Incluye>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreTecnico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verificacion.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcoRegulatorio.Duracion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreTecnico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verificacion.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcoRegulatorio.Duracion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdIncluye }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdIncluye }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdIncluye })
        </td>
    </tr>
}

</table>
